@model Hoteru.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer_fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
